


@section menu{
    @Html.Partial("Menu")
}

@section scripts{
    <script type="text/javascript">
        
        $.ajax({

            url: '@Url.Action("GetLines","Home")',

            dataType: 'json',
            async: true,
            error: function () { alert('GetLines Failure'); },
            success: function (lines) {

                debugger;

                addLines(lines,'@Url.Action("GetMachines","Home")','@Url.Action("Create","MachineOutputRecords")');
            }
        });
    </script>
}

<div id="ContentDiv" class="roundedDiv text-center" style="border:green medium solid;border-width:2px;margin:20px -10px 300px 0px; padding:5px 2px 5px 2px">

    <div class="container-fluid" id="BaseContainerDiv">
        <div class="row" id="LineRow0">

        </div>

        <div class="row" style="padding-top:5px" id="LineRow1">

        </div>

        <div class="row" style="padding-top:5px;" id="LineRow2">


        </div>


    </div>



    <div class="row">
        <div class="innerwrap" style="margin-right:1%;padding:2% 1% 2% 1%;margin-left:-15%;">

            <button id="createbtn" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-plus"></span> Add
            </button>
            <button id="deletebtn" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-minus"></span> Delete
            </button>
            <button id="editbtn" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </button>

            <button id="detailbtn" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-th-list"></span> Details
            </button>


        </div>
    </div>
</div>