﻿@model IEnumerable<OEEPortal_MVC5.Models.Line>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@section menu {

    @Html.Partial("Menu");

}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LineId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LineId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LineId })
        </td>
    </tr>
}
   
</table>
<p>
    @Html.ActionLink("Back to List", "Manage", "Home")
</p>