@model OEEPortal_MVC5.Models.MachineOutputRecord

@{
    var Title = ViewBag.Title;
    var Machine = ViewBag.Machine;
}
@Html.AntiForgeryToken()

@section menu{
    @Html.Partial("Menu")
}
@section Styles{
    <link href="~/Content/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.css" type="text/css" rel="stylesheet" />

}

@section Scripts{

    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/JQWidgets/jqxvalidator.js"></script>

    <script type="text/javascript">

        var ReferenceList;
        $(function () {

       
            //debugger;
            var ajx =  $.ajax({
                url: '@Url.Action("GetReferences","Home")',
                data: "{'machine':" + @Machine+ "}",
                type: "POST",
                contentType: "application/json",
                error: function () { alert("References Not Found") },
                success: function (references) {

                    //debugger;
                    ReferenceList = references;

                    var source = {
                        localdata: ReferenceList,
                        id: "id",
                        datatype: "json",
                        datafields: [{ name: "ReferenceId" }, { name: "Name" }, { name: "UsefullTime" }]
                    };
                    var dataSource = new $.jqx.dataAdapter(source);

                    // Create a jqxComboBox
                    $("#ReferenceCombobox").jqxComboBox({
                        selectedIndex: 0, source: dataSource, displayMember: "Name",
                        valueMember: "ReferenceId", width: 200, height: 25
                    });

                }
            });
        });

        $("#ReferenceCombobox").jqxComboBox();
        $("#OutputQuantityInput").jqxFormattedInput({ spinButtons: false, dropDown: false });
        $("#DefectQuantityInput").jqxFormattedInput({ spinButtons: false, dropDown: false });

        $("#EquipmentBreakdownExpander").jqxExpander({width:'100%',expanded:false});
        $("#ChangeOverExpander").jqxExpander({width:'100%',expanded:false});
        $("#MaterialDowntimeExpander").jqxExpander({width:'100%',expanded:false});
        $("#QualityDowntimeExpander").jqxExpander({width:'100%',expanded:false});
        $("#NonProductionExpander").jqxExpander({width:'100%',expanded:false});
        $("#PrenventiveMaintenanceExpander").jqxExpander({width:'100%',expanded:false});
        $("#ManagementMeetingExpander").jqxExpander({width:'100%',expanded:false});
        $("#RegulatoryBreaksExpander").jqxExpander({width:'100%',expanded:false});
        $("#PilotRunExpander").jqxExpander({width:'100%',expanded:false});





        $('#EquipmentBreakdownStartInput').jqxDateTimeInput({ width:'100%', formatString:'dd/MM/yyyy hh:mm:ss', showTimeButton: true,value:null});
        $("#EquipmentBreakdownEndInput").jqxDateTimeInput({ width:'100%', formatString:'dd/MM/yyyy hh:mm:ss', showTimeButton: true,value:null});

        $('#ChangeOverStartInput').jqxDateTimeInput({ width:'100%', formatString:'dd/MM/yyyy hh:mm:ss', showTimeButton: true,value:null});
        $("#ChangeOverEndInput").jqxDateTimeInput({ width:'100%', formatString:'dd/MM/yyyy hh:mm:ss', showTimeButton: true,value:null});

        $('#MaterialDowntimeStartInput').jqxDateTimeInput({ width:'100%', formatString:'dd/MM/yyyy hh:mm:ss', showTimeButton: true,value:null});
        $("#MaterialDowntimeEndInput").jqxDateTimeInput({ width:'100%', formatString:'dd/MM/yyyy hh:mm:ss', showTimeButton: true,value:null});

        $('#QualityDowntimeStartInput').jqxDateTimeInput({ width:'100%', formatString:'dd/MM/yyyy hh:mm:ss', showTimeButton: true,value:null});
        $("#QualityDowntimeEndInput").jqxDateTimeInput({ width:'100%', formatString:'dd/MM/yyyy hh:mm:ss', showTimeButton: true,value:null});


        $('#NonProductionStartInput').jqxDateTimeInput({ width:'100%', formatString:'dd/MM/yyyy hh:mm:ss', showTimeButton: true,value:null});
        $("#NonProductionEndInput").jqxDateTimeInput({ width:'100%', formatString:'dd/MM/yyyy hh:mm:ss', showTimeButton: true,value:null});

        $('#PreventiveMaintenanceStartInput').jqxDateTimeInput({ width:'100%', formatString:'dd/MM/yyyy hh:mm:ss', showTimeButton: true,value:null});
        $("#PreventiveMaintenanceEndInput").jqxDateTimeInput({ width:'100%', formatString:'dd/MM/yyyy hh:mm:ss', showTimeButton: true,value:null});

        $('#ManagementMeetingStartInput').jqxDateTimeInput({ width:'100%', formatString:'dd/MM/yyyy hh:mm:ss', showTimeButton: true,value:null});
        $("#ManagementMeetingEndInput").jqxDateTimeInput({ width:'100%', formatString:'dd/MM/yyyy hh:mm:ss', showTimeButton: true,value:null});

        $('#RegulatoryBreaksStartInput').jqxDateTimeInput({ width:'100%', formatString:'dd/MM/yyyy hh:mm:ss', showTimeButton: true,value:null});
        $("#RegulatoryBreaksEndInput").jqxDateTimeInput({ width:'100%', formatString:'dd/MM/yyyy hh:mm:ss', showTimeButton: true,value:null});


        $('#PilotRunStartInput').jqxDateTimeInput({ width:'100%', formatString:'dd/MM/yyyy hh:mm:ss', showTimeButton: true,value:null});
        $("#PilotRunEndInput").jqxDateTimeInput({ width:'100%', formatString:'dd/MM/yyyy hh:mm:ss', showTimeButton: true,value:null});



        $('#StartDateTimePickerDiv').jqxDateTimeInput({width:'100%',formatString:'dd/MM/yyyy hh:mm:ss', showTimeButton:true,value:null});
        $('#EndDateTimePickerDiv').jqxDateTimeInput({width:'100%',formatString:'dd/MM/yyyy hh:mm:ss', showTimeButton:true,value:null});

        $('#SaveButton').on("click", function () {

         
            //debugger;
            var selectedReference = $("#ReferenceCombobox").jqxComboBox('getSelectedItem');
            var referenceId = selectedReference.value;
           // debugger;
            var record = {

                OperatorID: document.getElementById("OperatorIDInput").value,
                StartTime: $('#StartDateTimePickerDiv').jqxDateTimeInput('value'),
                EndTime: $('#EndDateTimePickerDiv').jqxDateTimeInput('value'),
                OutputQuantity: document.getElementById("OutputQuantityInput").value,
                DefectQuantity: document.getElementById("DefectQuantityInput").value,

                EquipmentBreakDownStart:$('#EquipmentBreakdownStartInput').jqxDateTimeInput('value'),
                EquipmentBreakDownEnd:$('#EquipmentBreakdownEndInput').jqxDateTimeInput('value'),


                ChangeOverStart:$('#ChangeOverStartInput').jqxDateTimeInput('value'),
                ChangeOverEnd:$('#ChangeOverEndInput').jqxDateTimeInput('value'),

                MaterialDownStart:$('#MaterialDowntimeStartInput').jqxDateTimeInput('value'),
                MaterialDownEnd:$('#MaterialDowntimeEndInput').jqxDateTimeInput('value'),

                QualityDownStart:$('#QualityDowntimeStartInput').jqxDateTimeInput('value'),
                QualityDownEnd:$('#QualityDowntimeEndInput').jqxDateTimeInput('value'),

                NonProductionStart:$('#NonProductionStartInput').jqxDateTimeInput('value'),
                NonProductionEnd:$('#NonProductionEndInput').jqxDateTimeInput('value'),

                PreventiveMaintenanceStart:$('#PreventiveMaintenanceStartInput').jqxDateTimeInput('value'),
                PreventiveMaintenanceEnd:$('#PreventiveMaintenanceEndInput').jqxDateTimeInput('value'),

                ManagementMeetingStart:$('#ManagementMeetingStartInput').jqxDateTimeInput('value'),
                ManagementMeetingEnd:$('#ManagementMeetingEndInput').jqxDateTimeInput('value'),

                RegulatoryBreaksStart:$('#RegulatoryBreaksStartInput').jqxDateTimeInput('value'),
                RegulatoryBreaksEnd:$('#RegulatoryBreaksEndInput').jqxDateTimeInput('value'),

                PilotRunStart:$('#PilotRunStartInput').jqxDateTimeInput('value'),
                PilotRunEnd:$('#PilotRunEndInput').jqxDateTimeInput('value'),

                MachineId:@Machine,
                ReferenceId : referenceId


            }
         

            $.ajax({
                url:'@Url.Action("Create","MachineOutputRecords")',
                data: "{'MachineOutputRecord':" + JSON.stringify(record) +"}",
                type: "POST",
                contentType: "application/json",
                error: function () { alert("Error While Saving. Please Verify") },
                success: function (SaveResult) {
                    //debugger;
                    alert(SaveResult.result ? "Data Saved" : "Failed to Save Data" );

                }
            });
        })
    </script>

}


    <div id="ContentDiv" class="roundedDiv text-center" style="border:green medium solid;border-width:2px;margin:2px 10px 60px 15px;">

        <div class="container-fluid" style="margin-left:5%;">
            <div class="row">
                <div class="col-md-2" style="text-align:right;text-anchor:middle">
                    <label for="inputdefault"> Operator ID:</label>
                </div>
                <div class="col-md-4" style="text-align:left;">
                    <input class="form-control" id="OperatorIDInput" type="text">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2" style="text-align:right;text-anchor:middle">
                    <label for="inputdefault"> Reference:</label>
                </div>
                <div class="col-md-4" id="ReferenceCombobox" style="text-align:left;">

                </div>

            </div>

            <div class="row" style="padding-top:5px;">
                <div class="col-md-2" style="text-align:right">
                    <b> Start Time:</b>
                </div>
                <div class="col-md-4">
                    <div class="input-group date" id="StartDateTimePickerDiv">
                        <input type='text' class="form-control" id="StartDateTimePickerInput" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-2" style="text-align:right">
                    <b> End Time:</b>
                </div>
                <div class="col-md-4">
                    <div class="input-group date" id="EndDateTimePickerDiv">
                        <input type='text' class="form-control" id="EndDateTimePickerInput" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top:5px;">
                <div class="col-md-2" style="text-align:right">
                    <b> Output Quantity:</b>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="OutputQuantityInput" />

                </div>
                <div class="col-md-2" style="text-align:right">
                    <b> Defect Quantity:</b>
                </div>
                <div class="col-md-4">
                    <input type='text' class="form-control" id="DefectQuantityInput" />
                </div>
            </div>

            <div class="row" style="padding-top:15px;">
                <div class="col-md-12">
                    <div id="EquipmentBreakdownExpander">
                        <div>
                            Equipment Breakdown
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-2" style="text-align:right">
                                    <label>Start:</label>
                                </div>
                                <div class="col-md-4">
                                    <div id="EquipmentBreakdownStartInput"></div>
                                </div>

                                <div class="col-md-2" style="text-align:right">
                                    <label>End:</label>
                                </div>
                                <div class="col-md-4">
                                    <div id="EquipmentBreakdownEndInput"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row" style="padding-top:5px;">
                <div class="col-md-12">
                    <div id="ChangeOverExpander">
                        <div>
                            Change Over
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-2" style="text-align:right">
                                    <label>Start:</label>
                                </div>
                                <div class="col-md-4">
                                    <div id="ChangeOverStartInput"></div>
                                </div>

                                <div class="col-md-2" style="text-align:right">
                                    <label>End:</label>
                                </div>
                                <div class="col-md-4">
                                    <div id="ChangeOverEndInput"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top:5px;">
                <div class="col-md-12">
                    <div id="MaterialDowntimeExpander">
                        <div>
                            Material Downtime
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-2" style="text-align:right">
                                    <label>Start:</label>
                                </div>
                                <div class="col-md-4">
                                    <div id="MaterialDowntimeStartInput"></div>
                                </div>

                                <div class="col-md-2" style="text-align:right">
                                    <label>End:</label>
                                </div>
                                <div class="col-md-4">
                                    <div id="MaterialDowntimeEndInput"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row" style="padding-top:5px;">
                <div class="col-md-12">
                    <div id="QualityDowntimeExpander">
                        <div>
                            Quality Downtime
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-2" style="text-align:right">
                                    <label>Start:</label>
                                </div>
                                <div class="col-md-4">
                                    <div id="QualityDowntimeStartInput"></div>
                                </div>

                                <div class="col-md-2" style="text-align:right">
                                    <label>End:</label>
                                </div>
                                <div class="col-md-4">
                                    <div id="QualityDowntimeEndInput"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top:5px;">
                <div class="col-md-12">
                    <div id="NonProductionExpander">
                        <div>
                            Other Non Production Downtime
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-2" style="text-align:right">
                                    <label>Start:</label>
                                </div>
                                <div class="col-md-4">
                                    <div id="NonProductionStartInput"></div>
                                </div>

                                <div class="col-md-2" style="text-align:right">
                                    <label>End:</label>
                                </div>
                                <div class="col-md-4">
                                    <div id="NonProductionEndInput"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="row" style="padding-top:5px;">
                <div class="col-md-12">
                    <div id="PrenventiveMaintenanceExpander">
                        <div>
                            Preventive Maintenance
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-2" style="text-align:right">
                                    <label>Start:</label>
                                </div>
                                <div class="col-md-4">
                                    <div id="PreventiveMaintenanceStartInput"></div>
                                </div>

                                <div class="col-md-2" style="text-align:right">
                                    <label>End:</label>
                                </div>
                                <div class="col-md-4">
                                    <div id="PreventiveMaintenanceEndInput"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top:5px;">
                <div class="col-md-12">
                    <div id="ManagementMeetingExpander">
                        <div>
                            Management Meeting
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-2" style="text-align:right">
                                    <label>Start:</label>
                                </div>
                                <div class="col-md-4">
                                    <div id="ManagementMeetingStartInput"></div>
                                </div>

                                <div class="col-md-2" style="text-align:right">
                                    <label>End:</label>
                                </div>
                                <div class="col-md-4">
                                    <div id="ManagementMeetingEndInput"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row" style="padding-top:5px;">
                <div class="col-md-12">
                    <div id="RegulatoryBreaksExpander">
                        <div>
                            Regulatory Breaks
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-2" style="text-align:right">
                                    <label>Start:</label>
                                </div>
                                <div class="col-md-4">
                                    <div id="RegulatoryBreaksStartInput"></div>
                                </div>

                                <div class="col-md-2" style="text-align:right">
                                    <label>End:</label>
                                </div>
                                <div class="col-md-4">
                                    <div id="RegulatoryBreaksEndInput"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top:5px;">
                <div class="col-md-12">
                    <div id="PilotRunExpander">
                        <div>
                            PilotRun/Excess WIP
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-2" style="text-align:right">
                                    <label>Start:</label>
                                </div>
                                <div class="col-md-4">
                                    <div id="PilotRunStartInput"></div>
                                </div>

                                <div class="col-md-2" style="text-align:right">
                                    <label>End:</label>
                                </div>
                                <div class="col-md-4">
                                    <div id="PilotRunEndInput"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top:5px">
                <button id="SaveButton" class="btn btn-info btn-lg ">
                    Save
                </button>
            </div>


        </div>
    </div>



