@{
    ViewBag.Title = "Input";
}


@section menu{
    @Html.Partial("Menu")
}

@section Scripts{
    <script type="text/javascript">

          $body = $("body");

        $(document).on({
            ajaxStart: function () { $body.addClass("loading"); },
            ajaxStop: function () { $body.removeClass("loading"); }
        });

            var LinesList;
            $(function () {
              //  debugger;

                $.ajax({

                    url: '/Home/GetLines',

                    data: { format: JSON },
                    async: true,
                    error: function () { alert('GetLines Failure'); },
                    success: function (lines) {

                        LinesList = lines;
                        // debugger;
                        var totalLines = lines.length;
                        var source = {

                            localdata: LinesList,
                            datatype: "json",
                            datafields: [
                                { name: "LineId" },
                                { name: "Name" }

                            ],
                            id: 'LineId'

                            
                        };
                      
                        function appenddiv(){
                        var txt = document.createElement("<div id='division'/>");
                        txt.innerHTML("<button>append</button>");
                       // $("body").appendTo("#LineRow1");
                        $("body").append(txt);
                        }
                        //$("#Linerow1").append("<div></div>").class("col-md-3");
                        //var item = name;
                        //var $newdiv1 = $("<div id='object1'/>"),
                        //  //newdiv2 = document.createElement("div"),
                        //  //existingdiv1 = document.getElementById("foo");
                        //  newdiv2 = name;
                        //$("body").append($newdiv1, [newdiv2]);
                        //$("#LineDiv1").append("<button>append</button>");
                    }
                });
            });

   </script>

}


<div id="ContentDiv" class="roundedDiv text-center"
     style="border:green medium solid;border-width:2px;margin:20px -10px 300px 0px; padding:5px 2px 5px 2px;min-height:400px;">

    <div class="container-fluid" id="BaseContainerDiv">
        <div class="row" id="LineRow1" onload="appenddiv()">
            <div class="col-md-3" id="LineDiv1">
                <button class="btn btn-info btn-lg btn-block" onclick="location.href='@Url.Action("Index","Machines")'" id="Winding">
                    Winding
                </button>
            </div>

            <div class="col-md-3" id="LineDiv2">
                <button id="createbtn" class="btn btn-info btn-lg btn-block">
                    Spray
                </button>
            </div>

            <div class="col-md-3" id="LineDiv3">
                <button id="createbtn" class="btn btn-info btn-lg btn-block">
                    VHT
                </button>
            </div>

            <div class="col-md-3" id="LineDiv4">
                <button id="createbtn" class="btn btn-info btn-lg btn-block">
                    Support Assembly
                </button>
            </div>


        </div>

        <div class="row" style="padding-top:5px">
            <div class="col-md-3" id="Line5Div">
                <button id="createbtn" class="btn btn-info btn-lg btn-block">
                    Micafil
                </button>
            </div>
            <div class="col-md-3" id="Line6Div">
                <button id="createbtn" class="btn btn-info btn-lg btn-block">
                    Schugenpflug
                </button>
            </div>

            <div class="col-md-3" id="Line7Div">
                <button id="createbtn" class="btn btn-info btn-lg btn-block">
                    Soft Resin
                </button>
            </div>

            <div class="col-md-3" id="Line8Div">
                <button id="createbtn" class="btn btn-info btn-lg btn-block">
                    Box Assembly
                </button>

            </div>
        </div>

        <div class="row" style="padding-top:5px;">


            <div class="col-md-3" id="Line9Div">
                <button id="createbtn" class="btn btn-info btn-lg btn-block">
                    Final Assembly(Infinity)
                </button>
            </div>

            <div class="col-md-3" id="Line10Div">
                <button id="createbtn" class="btn btn-info btn-lg btn-block">
                    Final Assembly(Koti)
                </button>
            </div>
            <div class="col-md-3" id="Line11Div">
                <button id="createbtn" class="btn btn-info btn-lg btn-block">
                    MV Line
                </button>
            </div>
            <div class="col-md-3" id="Line12Div">

            </div>

        </div>


    </div>
</div>