@{
    ViewBag.Title = "Input";
}


@section menu{
    @Html.Partial("Menu")
}

@section Scripts{
<script src="~/Scripts/appScripts/addMachines.js"></script>
<script src="~/Scripts/appScripts/addLines.js"></script>
    <script type="text/javascript">

    $body = $("body");

    $(document).on({
        ajaxStart: function () { $body.addClass("loading"); },
        ajaxStop: function () { $body.removeClass("loading"); }
    });


    $(function () {
        //  debugger;



        $.ajax({

            url: '@Url.Action("GetLines","Home")',

                    dataType: 'json',
                    async: true,
                    error: function () { alert('GetLines Failure'); },
                    success: function (lines) {

                        debugger;

                        addLines(lines,'@Url.Action("GetMachines","Home")','@Url.Action("Create","MachineOutputRecords")')
                    }
                });
            });

   </script>

}


<div id="ContentDiv" class="roundedDiv text-center"
     style="border:green medium solid;border-width:2px;margin:20px -10px 300px 0px; padding:5px 2px 5px 2px;min-height:400px;">

    <div class="container-fluid" id="BaseContainerDiv">
        <div class="row" id="LineRow0">

        </div>

        <div class="row" style="padding-top:5px" id="LineRow1">
           
        </div>

        <div class="row" style="padding-top:5px;" id="LineRow2">


        </div>


    </div>
</div>