@{
    ViewBag.Title = "Input";
}


@section menu{
    @Html.Partial("Menu")
}

@section Scripts{
    <script type="text/javascript">

        function addLines(lines) {
            var noOfLines = lines.length;

            for (var i = 0; i < noOfLines; i++) {

                var rowId = "LineRow" + parseInt(i / 4).toString();
                var divId = "LineDiv" + (i).toString();

                var Id = lines[i]["LineId"];
                var LineName = lines[i]["Name"];

                var LineDiv = $("<div class='col-md-3' id=\"" + divId + "\"></div>");
                var LineButton = $("<button class='btn btn-info btn-lg btn-block' line-id=\""+ Id.toString()+"\"></button>").html(LineName);


                $("#" + rowId).append(LineDiv);
                LineDiv.append(LineButton);

                LineButton.on("click", function (e) {
                    debugger;
                    var i = $(e.currentTarget).attr("line-id");
                    var line = {
                        LineId: i,
                        LineName: $(e.currentTarget).html()
                    };
                    $.ajax({
                        url: '/Home/GetMachines',
                        type:"POST",
                        data: "{'id':" + i.toString()+"}",
                        contentType: "application/json",
                        error: function () { alert('GetLines Failure'); },
                        success: function (machines) {
                           
                            addMachines(machines);
                        }
                    });
                });
            }
        }

        function addMachines(machines) {
            debugger;
            var noOfMachines = machines.length;
            $("#BaseContainerDiv").empty();

            var machineRows = parseInt(noOfMachines % 4, 10).toString();


            for (var i = 0; i < machineRows; i++) {
                var machineRowDiv = $("<div class='row' style='padding-top:5px' id=MachineRow" + i.toString() + "></div>");
                $("#BaseContainerDiv").append(machineRowDiv);

            }


            for (var i = 0; i < noOfMachines; i++) {

                var rowId = "MachineRow" + parseInt(i / 4).toString();
                var divId = "MachineDiv" + (i).toString();
                var MachineName = machines[i]["Name"];
                var Machine = machines[i]["MachineId"];


                var MachineCol = $("<div class='col-md-3' id=\"" + divId + "\"></div>");
                var MachineButton = $("<button class='btn btn-info btn-lg btn-block' ></button>").html(MachineName);


                $("#" + rowId).append(MachineCol);
                MachineCol.append(MachineButton);

                MachineButton.on("click", function (e) {
                    location.href = '@Url.Action("Create","MachineOutputRecords")?Machine='+ Machine.toString();
                });
            }
        }
            

        

        $body = $("body");

        $(document).on({
            ajaxStart: function () { $body.addClass("loading"); },
            ajaxStop: function () { $body.removeClass("loading"); }
            });

            
            $(function () {
                //  debugger;

                

                $.ajax({

                    url: '/Home/GetLines',

                    dataType: 'json',
                    async: true,
                    error: function () { alert('GetLines Failure'); },
                    success: function (lines) {

                        debugger;

                        addLines(lines);
                    }
                });
            });

   </script>

}


<div id="ContentDiv" class="roundedDiv text-center"
     style="border:green medium solid;border-width:2px;margin:20px -10px 300px 0px; padding:5px 2px 5px 2px;min-height:400px;">

    <div class="container-fluid" id="BaseContainerDiv">
        <div class="row" id="LineRow0">

        </div>

        <div class="row" style="padding-top:5px" id="LineRow1">
           
        </div>

        <div class="row" style="padding-top:5px;" id="LineRow2">


        </div>


    </div>
</div>