@section menu{
    @Html.Partial("Menu")
}

<div id="ContentDiv" class="roundedDiv text-center"
     style="border:green medium solid;border-width:2px;margin:20px -10px 300px 0px; padding:5px 2px 5px 2px;min-height:400px;">

    <div class="container-fluid" id="BaseContainerDiv">
        <div class="row">
            <div class="col-md-3" id="Line1Div">
                <button class="btn btn-info btn-lg btn-block" style="background-image:url('../../Images/Machines/Metar M1.jpg');
                        background-repeat:no-repeat;min-height:60px;text-align:right;" onclick="location.href='@Url.Action("Create","MachineOutputRecords")'">
                    Metar M1 
                </button>
            </div>

            @*<div class="col-md-3" id="Line2Div">
                <button id="createbtn" class="btn btn-info btn-lg btn-block">
                    Spray
                </button>
            </div>

            <div class="col-md-3" id="Line3Div">
                <button id="createbtn" class="btn btn-info btn-lg btn-block">
                    VHT
                </button>
            </div>

            <div class="col-md-3" id="Line4Div">
                <button id="createbtn" class="btn btn-info btn-lg btn-block">
                    Support Assembly
                </button>
            </div>*@


        </div>

        @*<div class="row" style="padding-top:5px">
            <div class="col-md-3" id="Line5Div">
                <button id="createbtn" class="btn btn-info btn-lg btn-block">
                    Micafil
                </button>
            </div>
            <div class="col-md-3" id="Line6Div">
                <button id="createbtn" class="btn btn-info btn-lg btn-block">
                    Schugenpflug
                </button>
            </div>

            <div class="col-md-3" id="Line7Div">
                <button id="createbtn" class="btn btn-info btn-lg btn-block">
                    Soft Resin
                </button>
            </div>

            <div class="col-md-3" id="Line8Div">
                <button id="createbtn" class="btn btn-info btn-lg btn-block">
                    Box Assembly
                </button>

            </div>
        </div>

        <div class="row" style="padding-top:5px;">


            <div class="col-md-3" id="Line9Div">
                <button id="createbtn" class="btn btn-info btn-lg btn-block">
                    Final Assembly(Infinity)
                </button>
            </div>

            <div class="col-md-3" id="Line10Div">
                <button id="createbtn" class="btn btn-info btn-lg btn-block">
                    Final Assembly(Koti)
                </button>
            </div>
            <div class="col-md-3" id="Line11Div">
                <button id="createbtn" class="btn btn-info btn-lg btn-block">
                    MV Line
                </button>
            </div>
            <div class="col-md-3" id="Line12Div">

            </div>

        </div>*@


    </div>
</div>