@section Scripts{


    <script src="~/Scripts/JQWidgets/jqxgrid.columnsresize.js"></script>
    <script src="~/Scripts/JQWidgets/jqxdata.export.js"></script>
    <script src="~/Scripts/JQWidgets/jqxgrid.export.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $("#ReportTabs").jqxTabs({ width: '100%', height: 450, position: 'top', scrollable: false });

            var months = [{ name: 'Jan', value: 1 }, { name: 'Feb', value: 2 }, { name: 'Mar', value: 3 }, { name: 'Apr', value: 4 },
                { name: 'May', value: 5 }, { name: 'Jun', value: 6 }, { name: 'July', value: 7 }, { name: 'August', value: 8 },
                { name: 'September', value: 9 }, { name: 'October', value: 10 }, { name: 'November', value: 11 }, { name: 'December', value: 12 }];

            var monthsDataAdpater = new $.jqx.dataAdapter(months);
            $('#Monthlistbox').jqxListBox({ source: monthsDataAdpater, displayMember: 'name', valueMember: 'value', width: '200px', height: '200px', multiple: false });
            $('#MTTRMonthlistbox').jqxListBox({ source: monthsDataAdpater, displayMember: 'name', valueMember: 'value', width: '200px', height: '200px', multiple: false });
          
            // debugger;
            var MachineList;

            $.ajax({
                url: '/Home/GetMachines',
                type: "POST",
                data: "{'id':" + "0}",
                contentType: "application/json",
                error: function () { alert('GetMachines Failure'); },
                success: function (machines) {

                    MachineList = machines;
                    var source = {
                        localdata: MachineList,
                        id: "id",
                        datatype: "json",
                        datafields: [{ name: "MachineId" }, { name: "Name" }, { name: "Icon" }]
                    };
                    var dataSource = new $.jqx.dataAdapter(source);


                    $("#Machinelistbox").jqxListBox({ source: dataSource, displayMember: 'Name', valueMember: 'MachineId', width: '200px', height: '200px', multiple: true });
                }
            });

           






     

        
            $('#ShowCumulativeWatefallButton').click(function () {
                debugger;
                
                if (items.length > 0) {

                    for (var i = 1; i < 12; i++) {
                        months.push(i);

                    }

                    var monthlyCumulativeFilter = {


                        Months: months
                    };
                    var RecordList;
                    $.ajax({

                        url: '/Home/GetMonthlyCumulativeRecords',
                        data: "{'MonthlyCumulativeFilter':" + JSON.stringify(monthlyCumulativeFilter) + "}",
                        type: "POST",
                        contentType: "application/json",
                        error: function () { alert("Error While Loading. Please Verify") },
                        success: function (records) {
                            $('#CumulativeWaterfallDiv').empty();
                            $("<div class='container-fluid'><div class='row' > <div class='col-md-12'> <div id='ReportGrid'></div></div></div> <div class='row'> <div class='col-md-1 col-md-offset-6'> <button style='margin-top:3px' id='ExportButton' class='btn btn-info btn-lg' >Export</button></div> </div></div>")
                                .appendTo($('#CumulativeWaterfallDiv'));


                            RecordList = records;
                            var source = {
                                localdata: RecordList,
                                id: "id",
                                datatype: "json",


                                datafields: [
                            { name: 'Month', type: 'string' },
                            { name: 'UsefulTime', type: 'number' },
                            { name: 'TotalQuantity', type: 'number' },
                            { name: 'DefectQuantity', type: 'number' },
                            { name: 'GoodQuantity', type: 'number' },
                            { name: 'QualityRate', type: 'number' },
                            { name: 'PerformanceRate', type: 'number' },
                            { name: 'AvailabilityRate', type: 'number' },
                            { name: 'OEE', type: 'number' },
                            { name: 'UtilizationRate', type: 'number' },
                            { name: 'NEE', type: 'number' },
                            { name: 'POT', type: 'number' },
                            { name: 'SPT', type: 'number' },
                            { name: 'UPT', type: 'number' },
                            { name: 'RT', type: 'number' },
                            { name: 'PerformanceLossTime', type: 'number' },
                            { name: 'QualityDefectTime', type: 'number' },
                            { name: 'EquipmentBreakdown', type: 'number' },
                            { name: 'ChangeOver', type: 'number' },
                            { name: 'MaterialShortage', type: 'number' },
                            { name: 'QualityDowntime', type: 'number' },
                            { name: 'NonProductionTime', type: 'number' },
                            { name: 'PreventiveMaintenance', type: 'number' },
                            { name: 'ManagementMeeting', type: 'number' },
                            { name: 'RegulatoryBreaks', type: 'number' },
                            { name: 'PilotRun', type: 'number' },

                                ]
                            };
                            var pagerrenderer = function () {
                                var element = $("<div style='margin-top: 5px; width: 100%; height: 100%;'></div>");
                                var paginginfo = $("#ReportGrid").jqxGrid('getpaginginformation');
                                for (i = 0; i < paginginfo.pagescount; i++) {
                                    // add anchor tag with the page number for each page.
                                    var anchor = $("<a style='padding: 5px;' href='#" + i + "'>" + i + "</a>");
                                    anchor.appendTo(element);
                                    anchor.click(function (event) {
                                        // go to a page.
                                        var pagenum = parseInt($(event.target).text());
                                        $("#ReportGrid").jqxGrid('gotopage', pagenum);
                                    });
                                }
                                return element;
                            }

                            var dataAdapter = new $.jqx.dataAdapter(source);

                            $('#ReportGrid').jqxGrid({

                                width: '100%',
                                height: 300,
                                source: dataAdapter,
                                pageable: true,
                                autoheight: true,
                                pagerrenderer: pagerrenderer,
                                columnsresize: true,
                                columns: [
                                  { text: 'Month', dataField: 'Month' },
                                  { text: 'OEE', dataField: 'OEE', cellsformat: 'p2' },
                                  { text: 'NEE', dataField: 'NEE', cellsformat: 'p2' },
                                  { text: 'Total Quantity', dataField: 'TotalQuantity', cellsformat: 'd' },
                                  { text: 'Defect Quantity', dataField: 'DefectQuantity', cellsformat: 'd' },
                                  { text: 'Good Quantity', dataField: 'GoodQuantity', cellsformat: 'd' },
                                  { text: 'Quality Rate', dataField: 'QualityRate', cellsformat: 'p2' },
                                  { text: 'Performance Rate', dataField: 'PerformanceRate', cellsformat: 'p2' },
                                  { text: 'Availability Rate', dataField: 'AvailabilityRate', cellsformat: 'p2' },

                                  { text: 'Utilization Rate', dataField: 'UtilizationRate', cellsformat: 'p2' },

                                  { text: 'POT', dataField: 'POT', cellsformat: 'd' },
                                  { text: 'SPT', dataField: 'SPT', cellsformat: 'd' },
                                  { text: 'UPT', dataField: 'UPT', cellsformat: 'd' },
                                  { text: 'UT', dataField: 'UsefulTime', cellsformat: 'd' },
                                  { text: 'RT', dataField: 'RT', cellsformat: 'd' },
                                  { text: 'PLT', dataField: 'PerformanceLossTime', cellsformat: 'd' },
                                  { text: 'QDT', dataField: 'QualityDefectTime', cellsformat: 'd' },
                                  { text: 'Equipment Breakdown', dataField: 'EquipmentBreakdown', cellsformat: 'd' },
                                  { text: 'Change Over', dataField: 'ChangeOver', cellsformat: 'd' },
                                   { text: 'Material Shortage', dataField: 'MaterialShortage', cellsformat: 'd' },
                                  { text: 'Quality Downtime', dataField: 'QualityDowntime', cellsformat: 'd' },
                                  { text: 'Non-ProductionTime', dataField: 'NonProductionTime', cellsformat: 'd' },
                                  { text: 'Preventive Maintenance', dataField: 'PreventiveMaintenance', cellsformat: 'd' },
                                   { text: 'Management Meeting', dataField: 'ManagementMeeting', cellsformat: 'd' },
                                  { text: 'Regulatory Breaks', dataField: 'RegulatoryBreaks', cellsformat: 'd' },
                                  { text: 'PilotRun/Excess WIP', dataField: 'PilotRun', cellsformat: 'd' }
                                ]


                            });
                            $('#ReportGrid').jqxGrid('autoresizecolumns');
                            $('#ReportGrid').jqxGrid({ pagesize: 10 });
                            $("#ExportButton").on("click", function () {
                                $('#ReportGrid').jqxGrid('exportdata', 'csv', 'MonthlyCumulativeReport');


                            });
                            $("#columntableReportGrid").children("div:eq(1)").css("background-color", "orange");
                            $("#columntableReportGrid").children("div:eq(2)").css("background-color", "red");
                        }
                    });
                }
            });


            $('#ShowDailyButton').click(function () {
                debugger;


                var dailyCumulativeFilter = {
                    From: $('#DailyStartDateTimePickerDiv').jqxDateTimeInput('value'),
                    To: $('#DailyEndDateTimePickerDiv').jqxDateTimeInput('value'),


                };
                var RecordList;
                $.ajax({

                    url: '/Home/GetDailyCumulativeRecords',
                    data: "{'DailyCumulativeFilter':" + JSON.stringify(dailyCumulativeFilter) + "}",
                    type: "POST",
                    contentType: "application/json",
                    error: function () { alert("Error While Loading. Please Verify") },
                    success: function (records) {
                        $('#DailyCumulativeDiv').empty();
                        $("<div class='container-fluid'><div class='row' > <div class='col-md-12'> <div id='ReportGrid'></div></div></div> <div class='row'> <div class='col-md-1 col-md-offset-6'> <button style='margin-top:3px' id='ExportButton' class='btn btn-info btn-lg' >Export</button></div> </div></div>")
                            .appendTo($('#DailyCumulativeDiv'));


                        RecordList = records;
                        var source = {
                            localdata: RecordList,
                            id: "id",
                            datatype: "json",


                            datafields: [
                        { name: 'Date', type: 'string' },
                        { name: 'UsefulTime', type: 'number' },
                        { name: 'TotalQuantity', type: 'number' },
                        { name: 'DefectQuantity', type: 'number' },
                        { name: 'GoodQuantity', type: 'number' },
                        { name: 'QualityRate', type: 'number' },
                        { name: 'PerformanceRate', type: 'number' },
                        { name: 'AvailabilityRate', type: 'number' },
                        { name: 'OEE', type: 'number' },
                        { name: 'UtilizationRate', type: 'number' },
                        { name: 'NEE', type: 'number' },
                        { name: 'POT', type: 'number' },
                        { name: 'SPT', type: 'number' },
                        { name: 'UPT', type: 'number' },
                        { name: 'RT', type: 'number' },
                        { name: 'PerformanceLossTime', type: 'number' },
                        { name: 'QualityDefectTime', type: 'number' },
                        { name: 'EquipmentBreakdown', type: 'number' },
                        { name: 'ChangeOver', type: 'number' },
                        { name: 'MaterialShortage', type: 'number' },
                        { name: 'QualityDowntime', type: 'number' },
                        { name: 'NonProductionTime', type: 'number' },
                        { name: 'PreventiveMaintenance', type: 'number' },
                        { name: 'ManagementMeeting', type: 'number' },
                        { name: 'RegulatoryBreaks', type: 'number' },
                        { name: 'PilotRun', type: 'number' },

                            ]
                        };
                        var pagerrenderer = function () {
                            var element = $("<div style='margin-top: 5px; width: 100%; height: 100%;'></div>");
                            var paginginfo = $("#ReportGrid").jqxGrid('getpaginginformation');
                            for (i = 0; i < paginginfo.pagescount; i++) {
                                // add anchor tag with the page number for each page.
                                var anchor = $("<a style='padding: 5px;' href='#" + i + "'>" + i + "</a>");
                                anchor.appendTo(element);
                                anchor.click(function (event) {
                                    // go to a page.
                                    var pagenum = parseInt($(event.target).text());
                                    $("#ReportGrid").jqxGrid('gotopage', pagenum);
                                });
                            }
                            return element;
                        }

                        var dataAdapter = new $.jqx.dataAdapter(source);

                        $('#ReportGrid').jqxGrid({

                            width: '100%',
                            height: 300,
                            source: dataAdapter,
                            pageable: true,
                            autoheight: true,
                            pagerrenderer: pagerrenderer,
                            columnsresize: true,
                            columns: [
                              { text: 'Date', dataField: 'Date' },
                              { text: 'OEE', dataField: 'OEE', cellsformat: 'p2' },
                              { text: 'NEE', dataField: 'NEE', cellsformat: 'p2' },
                              { text: 'Total Quantity', dataField: 'TotalQuantity', cellsformat: 'd' },
                              { text: 'Defect Quantity', dataField: 'DefectQuantity', cellsformat: 'd' },
                              { text: 'Good Quantity', dataField: 'GoodQuantity', cellsformat: 'd' },
                              { text: 'Quality Rate', dataField: 'QualityRate', cellsformat: 'p2' },
                              { text: 'Performance Rate', dataField: 'PerformanceRate', cellsformat: 'p2' },
                              { text: 'Availability Rate', dataField: 'AvailabilityRate', cellsformat: 'p2' },

                              { text: 'Utilization Rate', dataField: 'UtilizationRate', cellsformat: 'p2' },

                              { text: 'POT', dataField: 'POT', cellsformat: 'd' },
                              { text: 'SPT', dataField: 'SPT', cellsformat: 'd' },
                              { text: 'UPT', dataField: 'UPT', cellsformat: 'd' },
                              { text: 'UT', dataField: 'UsefulTime', cellsformat: 'd' },
                              { text: 'RT', dataField: 'RT', cellsformat: 'd' },
                              { text: 'PLT', dataField: 'PerformanceLossTime', cellsformat: 'd' },
                              { text: 'QDT', dataField: 'QualityDefectTime', cellsformat: 'd' },
                              { text: 'Equipment Breakdown', dataField: 'EquipmentBreakdown', cellsformat: 'd' },
                              { text: 'Change Over', dataField: 'ChangeOver', cellsformat: 'd' },
                               { text: 'Material Shortage', dataField: 'MaterialShortage', cellsformat: 'd' },
                              { text: 'Quality Downtime', dataField: 'QualityDowntime', cellsformat: 'd' },
                              { text: 'Non-ProductionTime', dataField: 'NonProductionTime', cellsformat: 'd' },
                              { text: 'Preventive Maintenance', dataField: 'PreventiveMaintenance', cellsformat: 'd' },
                               { text: 'Management Meeting', dataField: 'ManagementMeeting', cellsformat: 'd' },
                              { text: 'Regulatory Breaks', dataField: 'RegulatoryBreaks', cellsformat: 'd' },
                              { text: 'PilotRun/Excess WIP', dataField: 'PilotRun', cellsformat: 'd' }
                            ]


                        });
                        $('#ReportGrid').jqxGrid('autoresizecolumns');
                        $('#ReportGrid').jqxGrid({ pagesize: 10 });
                        $("#ExportButton").on("click", function () {
                            $('#ReportGrid').jqxGrid('exportdata', 'csv', 'DailyCumulativeReport');


                        });
                        $("#columntableReportGrid").children("div:eq(1)").css("background-color", "orange");
                        $("#columntableReportGrid").children("div:eq(2)").css("background-color", "red");
                    }
                });

            });

            $('#ShowShiftButton').click(function () {
                debugger;
                var items = $("#Shiftlistbox").jqxListBox('getSelectedItems');
                var shifts = [];
                if (items.length > 0) {

                    for (var i = 0; i < items.length; i++) {
                        shifts.push(items[i]['value']);

                    }

                    var shiftCumulativeFilter = {
                        From: $('#ShiftStartDateTimePickerDiv').jqxDateTimeInput('value'),
                        To: $('#ShiftEndDateTimePickerDiv').jqxDateTimeInput('value'),

                        Shifts: shifts
                    };
                    var RecordList;
                    $.ajax({

                        url: '/Home/GetShiftCumulativeRecords',
                        data: "{'ShiftCumulativeFilter':" + JSON.stringify(shiftCumulativeFilter) + "}",
                        type: "POST",
                        contentType: "application/json",
                        error: function () { alert("Error While Loading. Please Verify") },
                        success: function (records) {
                            $('#ShiftCumulativeDiv').empty();
                            $("<div class='container-fluid'><div class='row' > <div class='col-md-12'> <div id='ReportGrid'></div></div></div> <div class='row'> <div class='col-md-1 col-md-offset-6'> <button style='margin-top:3px' id='ExportButton' class='btn btn-info btn-lg' >Export</button></div> </div></div>")
                                .appendTo($('#ShiftCumulativeDiv'));


                            RecordList = records;
                            var source = {
                                localdata: RecordList,
                                id: "id",
                                datatype: "json",


                                datafields: [
                            { name: 'Shift', type: 'string' },
                            { name: 'UsefulTime', type: 'number' },
                            { name: 'TotalQuantity', type: 'number' },
                            { name: 'DefectQuantity', type: 'number' },
                            { name: 'GoodQuantity', type: 'number' },
                            { name: 'QualityRate', type: 'number' },
                            { name: 'PerformanceRate', type: 'number' },
                            { name: 'AvailabilityRate', type: 'number' },
                            { name: 'OEE', type: 'number' },
                            { name: 'UtilizationRate', type: 'number' },
                            { name: 'NEE', type: 'number' },
                            { name: 'POT', type: 'number' },
                            { name: 'SPT', type: 'number' },
                            { name: 'UPT', type: 'number' },
                            { name: 'RT', type: 'number' },
                            { name: 'PerformanceLossTime', type: 'number' },
                            { name: 'QualityDefectTime', type: 'number' },
                            { name: 'EquipmentBreakdown', type: 'number' },
                            { name: 'ChangeOver', type: 'number' },
                            { name: 'MaterialShortage', type: 'number' },
                            { name: 'QualityDowntime', type: 'number' },
                            { name: 'NonProductionTime', type: 'number' },
                            { name: 'PreventiveMaintenance', type: 'number' },
                            { name: 'ManagementMeeting', type: 'number' },
                            { name: 'RegulatoryBreaks', type: 'number' },
                            { name: 'PilotRun', type: 'number' },

                                ]
                            };
                            var pagerrenderer = function () {
                                var element = $("<div style='margin-top: 5px; width: 100%; height: 100%;'></div>");
                                var paginginfo = $("#ReportGrid").jqxGrid('getpaginginformation');
                                for (i = 0; i < paginginfo.pagescount; i++) {
                                    // add anchor tag with the page number for each page.
                                    var anchor = $("<a style='padding: 5px;' href='#" + i + "'>" + i + "</a>");
                                    anchor.appendTo(element);
                                    anchor.click(function (event) {
                                        // go to a page.
                                        var pagenum = parseInt($(event.target).text());
                                        $("#ReportGrid").jqxGrid('gotopage', pagenum);
                                    });
                                }
                                return element;
                            }

                            var dataAdapter = new $.jqx.dataAdapter(source);

                            $('#ReportGrid').jqxGrid({

                                width: '100%',
                                height: 300,
                                source: dataAdapter,
                                pageable: true,
                                autoheight: true,
                                pagerrenderer: pagerrenderer,
                                columnsresize: true,
                                columns: [
                                  { text: 'Shift', dataField: 'Shift' },
                                  { text: 'OEE', dataField: 'OEE', cellsformat: 'p2' },
                                  { text: 'NEE', dataField: 'NEE', cellsformat: 'p2' },
                                  { text: 'Total Quantity', dataField: 'TotalQuantity', cellsformat: 'd' },
                                  { text: 'Defect Quantity', dataField: 'DefectQuantity', cellsformat: 'd' },
                                  { text: 'Good Quantity', dataField: 'GoodQuantity', cellsformat: 'd' },
                                  { text: 'Quality Rate', dataField: 'QualityRate', cellsformat: 'p2' },
                                  { text: 'Performance Rate', dataField: 'PerformanceRate', cellsformat: 'p2' },
                                  { text: 'Availability Rate', dataField: 'AvailabilityRate', cellsformat: 'p2' },

                                  { text: 'Utilization Rate', dataField: 'UtilizationRate', cellsformat: 'p2' },

                                  { text: 'POT', dataField: 'POT', cellsformat: 'd' },
                                  { text: 'SPT', dataField: 'SPT', cellsformat: 'd' },
                                  { text: 'UPT', dataField: 'UPT', cellsformat: 'd' },
                                  { text: 'UT', dataField: 'UsefulTime', cellsformat: 'd' },
                                  { text: 'RT', dataField: 'RT', cellsformat: 'd' },
                                  { text: 'PLT', dataField: 'PerformanceLossTime', cellsformat: 'd' },
                                  { text: 'QDT', dataField: 'QualityDefectTime', cellsformat: 'd' },
                                  { text: 'Equipment Breakdown', dataField: 'EquipmentBreakdown', cellsformat: 'd' },
                                  { text: 'Change Over', dataField: 'ChangeOver', cellsformat: 'd' },
                                   { text: 'Material Shortage', dataField: 'MaterialShortage', cellsformat: 'd' },
                                  { text: 'Quality Downtime', dataField: 'QualityDowntime', cellsformat: 'd' },
                                  { text: 'Non-ProductionTime', dataField: 'NonProductionTime', cellsformat: 'd' },
                                  { text: 'Preventive Maintenance', dataField: 'PreventiveMaintenance', cellsformat: 'd' },
                                   { text: 'Management Meeting', dataField: 'ManagementMeeting', cellsformat: 'd' },
                                  { text: 'Regulatory Breaks', dataField: 'RegulatoryBreaks', cellsformat: 'd' },
                                  { text: 'PilotRun/Excess WIP', dataField: 'PilotRun', cellsformat: 'd' }
                                ]


                            });
                            $('#ReportGrid').jqxGrid('autoresizecolumns');
                            $('#ReportGrid').jqxGrid({ pagesize: 10 });
                            $("#ExportButton").on("click", function () {
                                $('#ReportGrid').jqxGrid('exportdata', 'csv', 'ShiftCumulativeReport');


                            });
                            $("#columntableReportGrid").children("div:eq(1)").css("background-color", "orange");
                            $("#columntableReportGrid").children("div:eq(2)").css("background-color", "red");
                        }
                    });
                }
            });


            $('#ShowMachineButton').click(function () {

                debugger;
                var items = $("#Machinelistbox").jqxListBox('getSelectedItems');
                var machines = [];
                if (items.length > 0) {

                    for (var i = 0; i < items.length; i++) {
                        machines.push(items[i]['value']);

                    }

                }
                var machineCumulativeFilter = {
                    From: $('#MachineStartDateTimePickerDiv').jqxDateTimeInput('value'),
                    To: $('#MachineEndDateTimePickerDiv').jqxDateTimeInput('value'),

                    Machines: machines
                };
                var RecordList;
                $.ajax({

                    url: '/Home/GetMachineCumulativeRecords',
                    data: "{'MachineCumulativeFilter':" + JSON.stringify(machineCumulativeFilter) + "}",
                    type: "POST",
                    contentType: "application/json",
                    error: function () { alert("Error While Saving. Please Verify") },
                    success: function (records) {
                        $('#MachineCumulativeDiv').empty();
                        $("<div class='container-fluid'><div class='row' > <div class='col-md-12'> <div id='ReportGrid'></div></div></div> <div class='row'> <div class='col-md-1 col-md-offset-6'> <button style='margin-top:3px' id='ExportButton' class='btn btn-info btn-lg' >Export</button></div> </div></div>")
                            .appendTo($('#MachineCumulativeDiv'));


                        RecordList = records;
                        var source = {
                            localdata: RecordList,
                            id: "id",
                            datatype: "json",


                            datafields: [
                        { name: 'Machine', type: 'string' },
                        { name: 'UsefulTime', type: 'number' },
                        { name: 'TotalQuantity', type: 'number' },
                        { name: 'DefectQuantity', type: 'number' },
                        { name: 'GoodQuantity', type: 'number' },
                        { name: 'QualityRate', type: 'number' },
                        { name: 'PerformanceRate', type: 'number' },
                        { name: 'AvailabilityRate', type: 'number' },
                        { name: 'OEE', type: 'number' },
                        { name: 'UtilizationRate', type: 'number' },
                        { name: 'NEE', type: 'number' },
                        { name: 'POT', type: 'number' },
                        { name: 'SPT', type: 'number' },
                        { name: 'UPT', type: 'number' },
                        { name: 'RT', type: 'number' },
                        { name: 'PerformanceLossTime', type: 'number' },
                        { name: 'QualityDefectTime', type: 'number' },
                        { name: 'EquipmentBreakdown', type: 'number' },
                        { name: 'ChangeOver', type: 'number' },
                        { name: 'MaterialShortage', type: 'number' },
                        { name: 'QualityDowntime', type: 'number' },
                        { name: 'NonProductionTime', type: 'number' },
                        { name: 'PreventiveMaintenance', type: 'number' },
                        { name: 'ManagementMeeting', type: 'number' },
                        { name: 'RegulatoryBreaks', type: 'number' },
                        { name: 'PilotRun', type: 'number' },

                            ]
                        };
                        var pagerrenderer = function () {
                            var element = $("<div style='margin-top: 5px; width: 100%; height: 100%;'></div>");
                            var paginginfo = $("#ReportGrid").jqxGrid('getpaginginformation');
                            for (i = 0; i < paginginfo.pagescount; i++) {
                                // add anchor tag with the page number for each page.
                                var anchor = $("<a style='padding: 5px;' href='#" + i + "'>" + i + "</a>");
                                anchor.appendTo(element);
                                anchor.click(function (event) {
                                    // go to a page.
                                    var pagenum = parseInt($(event.target).text());
                                    $("#ReportGrid").jqxGrid('gotopage', pagenum);
                                });
                            }
                            return element;
                        }

                        var dataAdapter = new $.jqx.dataAdapter(source);

                        $('#ReportGrid').jqxGrid({

                            width: '100%',
                            height: 300,
                            source: dataAdapter,
                            pageable: true,
                            autoheight: true,
                            pagerrenderer: pagerrenderer,
                            columnsresize: true,
                            columns: [
                              { text: 'Machine', dataField: 'Machine' },
                              { text: 'OEE', dataField: 'OEE', cellsformat: 'p2' },
                              { text: 'NEE', dataField: 'NEE', cellsformat: 'p2' },
                              { text: 'Total Quantity', dataField: 'TotalQuantity', cellsformat: 'd' },
                              { text: 'Defect Quantity', dataField: 'DefectQuantity', cellsformat: 'd' },
                              { text: 'Good Quantity', dataField: 'GoodQuantity', cellsformat: 'd' },
                              { text: 'Quality Rate', dataField: 'QualityRate', cellsformat: 'p2' },
                              { text: 'Performance Rate', dataField: 'PerformanceRate', cellsformat: 'p2' },
                              { text: 'Availability Rate', dataField: 'AvailabilityRate', cellsformat: 'p2' },

                              { text: 'Utilization Rate', dataField: 'UtilizationRate', cellsformat: 'p2' },

                              { text: 'POT', dataField: 'POT', cellsformat: 'd' },
                              { text: 'SPT', dataField: 'SPT', cellsformat: 'd' },
                              { text: 'UPT', dataField: 'UPT', cellsformat: 'd' },
                              { text: 'UT', dataField: 'UsefulTime', cellsformat: 'd' },
                              { text: 'RT', dataField: 'RT', cellsformat: 'd' },
                              { text: 'PLT', dataField: 'PerformanceLossTime', cellsformat: 'd' },
                              { text: 'QDT', dataField: 'QualityDefectTime', cellsformat: 'd' },
                              { text: 'Equipment Breakdown', dataField: 'EquipmentBreakdown', cellsformat: 'd' },
                              { text: 'Change Over', dataField: 'ChangeOver', cellsformat: 'd' },
                               { text: 'Material Shortage', dataField: 'MaterialShortage', cellsformat: 'd' },
                              { text: 'Quality Downtime', dataField: 'QualityDowntime', cellsformat: 'd' },
                              { text: 'Non-ProductionTime', dataField: 'NonProductionTime', cellsformat: 'd' },
                              { text: 'Preventive Maintenance', dataField: 'PreventiveMaintenance', cellsformat: 'd' },
                               { text: 'Management Meeting', dataField: 'ManagementMeeting', cellsformat: 'd' },
                              { text: 'Regulatory Breaks', dataField: 'RegulatoryBreaks', cellsformat: 'd' },
                              { text: 'PilotRun/Excess WIP', dataField: 'PilotRun', cellsformat: 'd' }
                            ]


                        });
                        $('#ReportGrid').jqxGrid('autoresizecolumns');
                        $('#ReportGrid').jqxGrid({ pagesize: 10 });
                        $("#ExportButton").on("click", function () {
                            $('#ReportGrid').jqxGrid('exportdata', 'csv', 'MachineCumulativeReport');


                        });
                        $("#columntableReportGrid").children("div:eq(1)").css("background-color", "orange");
                        $("#columntableReportGrid").children("div:eq(2)").css("background-color", "red");
                    }
                });
            });

           

        });


    </script>
}

<div id="ContentDiv" class="roundedDiv container-fluid"
     style="border:green medium solid;border-width:2px;">

    <div id='ReportTabs'>
        <ul>
            <li>Cumulative Waste Waterfall</li>
            <li>Monthly Waste Waterfall</li>
            <li>Daily OEE - NEE Trend</li>
            <li>MTTR MTBF Trend</li>

        </ul>
        <div id="CumulativeWaterfallDiv">
            <div class="container-fluid" style="margin-top:1%">
              

                <div class="row" style="padding-top:5px; margin:1% 0% 0% 10%">
                    <button id="ShowMonthButton" class="btn btn-info btn-lg ">
                        Show
                    </button>
                </div>
            </div>
        </div>
        <div id="MonthlyWaterfallDiv">
            <div class="row" style="margin:1% 0% 0% 5%">
                <div id="Monthlistbox">

                </div>
            </div>
          
        </div>
        <div id="DailyTrendDiv">
            <div class="row" style="padding-top:5px;margin:1% 1% 0% -5%">
                <div class="row" style="margin:1% 0% 0% 5%">
                    <div id="Monthlistbox">

                    </div>
                </div>
               
            </div>
           
            <div class="row" style="padding-top:5px; margin:1% 0% 0% 48%">
                <button id="ShowShiftButton" class="btn btn-info btn-lg ">
                    Show
                </button>
            </div>
        </div>
        <div id="MTTRMTBFDiv">
            <div class="row" style="padding-top:5px;margin:1% 1% 0% -5%">
                <div class="col-md-6" >
                    <div class="row" style="margin:1% 0% 0% 5%">
                        <div id="MTTRMonthlistbox">

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="Machinelistbox">

                    </div>

               
                </div>
            </div>

           
            <div class="row" style="padding-top:5px; margin:1% 0% 0% 48%">
                <button id="ShowMachineButton" class="btn btn-info btn-lg ">
                    Show
                </button>
            </div>

        </div>
     

    </div>


</div>
