@model OEEPortal_MVC5.Models.MachineOutputRecord

@{
    ViewBag.Title = "Create";
}

@*<h2 style="margin-top:-1%">Machine Output Record</h2>*@

@section menu{
    @Html.Partial("Menu")
}
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

        @section Styles{
    <link href="~/Content/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.css" type="text/css" rel="stylesheet" />

        }

      
        <div class="responsive-container" id="SummaryPanel"></div>
        <div id="ContentDiv" class="roundedDiv text-center" style="border:green medium solid;border-width:2px;margin:-1% 20px 60px 15px; padding:5px 2px 5px 2px">
            <div class="wrap">
                <div class="container" style="margin-left:5%;margin-top:2%">
                    <div class="form-group" style="margin-top:1%;margin-left:0%;width:40%">
                        <label for="inputdefault" style="margin-right:40%;margin-left:-40%">Operator ID</label>
                        <input class="form-control" id="inputdefault" type="text">
                    </div>

                    <div class="col-md-2">
                        <label id="lbl1" 
                               style="margin-top:5%;padding:10px 10px 0px 0px;display:inline;margin-right:70%;margin-left:0%">
                                Line:</label>
                        <div id='LineCombobox'>
                        </div>
                    </div>
                    <div class="col-md-2" style="padding:0px 0px 0px 40px">
                        <label id="lbl2" 
                               style="margin-top:5%;padding:10px 20px 0px 0px;display:inline;margin-right:70%;margin-left:0%">
                        Machine:</label>
                        <div id='MachineCombobox'>
                        </div>
                    </div>
                    <div class="col-md-2" style="padding:0px 0px 0px 50px">
                        <label id="lbl3" 
                               style="margin-top:5%;padding:10px 20px 0px 0px;display:inline;margin-right:70%;margin-left:0%">
                        Shift:</label>
                        <div id='ShiftCombobox'>
                        </div>
                    </div>
                    <div class="col-md-2" style="padding:0px 0px 0px 75px">
                        <label id="lbl4" 
                               style="margin-top:5%;padding:10px 20px 0px 0px;display:inline;margin-right:70%;margin-left:0%">
                                Reference:</label>
                        <div id='ReferenceCombobox'>
                        </div>
                    </div>
                </div>
                <div class='col-md-5' style="margin:0 auto">
                    <div class="form-group" style="margin-top:7%;">
                        <b style="margin-top:15px;margin-left:20%;margin-right:60%">  Starttime:   </b>
                        <div class='input-group date' id='datetimepicker1' style="padding-left:20%;margin-top:5px;margin-bottom:0px;">

                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-md-5'>
                <div class="form-group" style="margin-top:7%">
                    <b style="margin-top:15px;margin-left:20%;margin-right:60%"> Endtime:   </b>
                    <div class='input-group date' id='datetimepicker2' style="padding-left:20%;margin-top:5px;margin-bottom:0px;">
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="wrap1" style="display:inline;">
                <div class="col-md-5" style="margin-top:2%;margin-left:3%;display:inline;">
                    <label id="lbltxt" style="margin-left:12%">Output Quantity:</label>
                    <input type="text" class="numericOnly" placeholder="Enter Only number" id="txtSearch">

                </div>
                <div class="col-md-5" style="margin-left:46%;margin-top:-3%">
                    <label id="lbltxt1" style="margin-left:10%;display:inline;">Diffect Quantity:</label>
                    <input type="text" class="numericOnly" placeholder="Enter Only number" id="txtSearch1">

                </div>
            </div>
            <div class="wrap2">
                <div class="row">
                    <div class="col-md-5" style="margin-top:2%;margin-left:7%">
                        <label id="labl">Equipment BreakDown:</label>
                        <input type="text" id="txt2" style="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5" style="margin:0 auto;margin-top:1%;margin-left:7%">
                        <label id="labl">Change Over:</label>
                        <input type="text" id="txt2" style="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5" style="margin-top:1%;margin-left:7%">
                        <label id="labl2">Materail Shortage Downtime:</label>
                        <input type="text" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5" style="margin-top:1%;margin-left:7%">
                        <label id="labl3">Quality Downtime:</label>
                        <input type="text" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5" style="margin-top:1%;margin-left:7%">

                        <label id="labl4">Other Non-Production:</label>
                        <input type="text" />

                    </div>
                    <div class="col-md-5" style="margin-top:-15%;">

                        <label id="labl5">Preventive Maintenance:</label>
                        <input type="text" />
                    </div>
                    <div class="col-md-5" style="margin-top:-12%;">

                        <label id="labl6">Management Meeting:</label>
                        <input type="text" />
                    </div>
                    <div class="col-md-5" style="margin-top:-9%;">

                        <label id="labl7">Regulatory Breaks:</label>
                        <input type="text" />
                    </div>
                    <div class="col-md-5" style="margin-top:-6%;">

                        <label id="labl8">Pilot Run:</label>
                        <input type="text" />
                    </div>
                </div>
                <div class="innerwrap1" style="margin-left:11%;margin-top:3%;margin-bottom:1%">
                    <button class="btn btn-lg btn-primary" value="" id="btn1" style="display:inline;width:18%;height:5%">Update</button>
                    <button class="btn btn-lg btn-primary" value="" id="btn2" style="display:inline; width:18%;height:5%">Clear</button>

                </div>
                @*@Html.ActionLink("Back to List", "Index")*@

            </div>
        </div>
    <div>
       
    </div>
}



@*@section Scripts {
 
}*@
@section Scripts{
@Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var source = [
               "Select Line"
            ];
            // Create a jqxComboBox
            $("#LineCombobox").jqxComboBox({ source: source, selectedIndex: 0, width: '150px', height: '25px' });
            // disable the sixth item.
            //$("#jqxcombobox").jqxComboBox('disableAt', 5);
            //// bind to 'select' event.
            //$('#jqxcombobox').bind('select', function (event) {
            //    var args = event.args;
            //    var item = $('#jqxcombobox').jqxComboBox('getItem', args.index);
            //    alert('Selected: ' + item.label);
            //});
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            var source = [
               "Select Machine"
            ];
            // Create a jqxComboBox
            $("#MachineCombobox").jqxComboBox({ source: source, selectedIndex: 0, width: '150px', height: '25px' });
            // disable the sixth item.
            //$("#jqxcombobox1").jqxComboBox('disableAt', 5);
            //// bind to 'select' event.
            //$('#jqxcombobox1').bind('select', function (event) {
            //    var args = event.args;
            //    var item = $('#jqxcombobox1').jqxComboBox('getItem', args.index);
            //    alert('Selected: ' + item.label);
            //});
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var source = [
               "Select Reference"
            ];
            // Create a jqxComboBox
            $("#ReferenceCombobox").jqxComboBox({ source: source, selectedIndex: 0, width: '150px', height: '25px' });
            // disable the sixth item.
            //$("#jqxcombobox2").jqxComboBox('disableAt', 5);
            //// bind to 'select' event.
            //$('#jqxcombobox2').bind('select', function (event) {
            //    var args = event.args;
            //    var item = $('#jqxcombobox2').jqxComboBox('getItem', args.index);
            //    alert('Selected: ' + item.label);
            //});
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var source = [
               "Select Shift"
            ];
            // Create a jqxComboBox
            $("#ShiftCombobox").jqxComboBox({ source: source, selectedIndex: 0, width: '150px', height: '25px' });
            // disable the sixth item.
            //$("#jqxcombobox3").jqxComboBox('disableAt', 5);
            //// bind to 'select' event.
            //$('#jqxcombobox3').bind('select', function (event) {
            //    var args = event.args;
            //    var item = $('#jqxcombobox3').jqxComboBox('getItem', args.index);
            //    alert('Selected: ' + item.label);
            //});
        });
    </script>
    <script type="text/javascript">
        $(".numericOnly").bind('keypress', function (e) {
            if (e.keyCode == '9' || e.keyCode == '16') {
                return;
            }
            var code;
            if (e.keyCode) code = e.keyCode;
            else if (e.which) code = e.which;
            if (e.which == 46)
                return false;
            if (code == 8 || code == 46)
                return true;
            if (code < 48 || code > 57)
                return false;
        });

        //Disable paste
        $(".numericOnly").bind("paste", function (e) {
            e.preventDefault();
        });

        $(".numericOnly").bind('mouseenter', function (e) {
            var val = $(this).val();
            if (val != '0') {
                val = val.replace(/[^0-9]+/g, "")
                $(this).val(val);
            }
        });



    </script>
    <script type="text/javascript">

        $('#datetimepicker1').datetimepicker();
        $('#datetimepicker2').datetimepicker();

    </script>




}
