﻿<div class="wrap">
    <div class="wrap1">
        <div class="inner1" style="float:left">
            @section menu{
                @Html.Partial("Menu")
            }
        </div>
        <div id="ContentDiv" class="roundedDiv text-center" style="border:green medium solid;border-width:2px;margin:5px 5px 0px 30px; padding:5px 2px 5px 2px">

            <img src="~/Images/IDF4TestLab.jpg" style="max-height:100%; max-width:100%;padding-top:5px;padding:5px 2px 2px 5px;margin:5px 0px 5px 0px" />
            <div class="container" style="padding:5px;position:relative">
                <div class="col-md-2 roundedDiv" style="border: medium solid green; border-width:2px; float:left; width:15%;height:100px;padding:0">
                    <button type="button" class="btn btn-default btn-lg" onclick="location.href='@Url.Action("TesterGroup_1MVA", "Home")'"
                            style="width:100%;height:50%;background-color:green;color:white;display:inline-block;vertical-align:middle">
                        <span class="glyphicon glyphicon-oil" aria-hidden="true"></span> 1MVA
                    </button>
                    <label id="Label_1MVA">Bays:5<br />Active:2</label>
                </div>
                <div class="col-md-2 roundedDiv" style="border: medium solid green; border-width:2px; float:left; width:15%;height:100px; margin-left:5px;padding:0;">
                    <button type="button" class="btn btn-default btn-lg" style="width:100%;height:50%;background-color:green;color:white;display:inline-block;vertical-align:middle">
                        <span class="glyphicon glyphicon-oil" aria-hidden="true"></span> 500KVA
                    </button>

                    <label id="Label_1MVA">Bays:5<br />Active:2</label>
                </div>
                <div class="col-md-2 roundedDiv" style="border: medium solid green; border-width:2px; float:left; width:15%;height:100px;margin-left:5px;padding:0;">
                    <button type="button" class="btn btn-default btn-lg" style="width:100%;height:50%;background-color:green;color:white;display:inline-block;vertical-align:middle">
                        <span class="glyphicon glyphicon-oil" aria-hidden="true"></span> 250KVA
                    </button>

                    <label id="Label_1MVA">Bays:5<br />Active:2</label>
                </div>
                <div class="col-md-2 roundedDiv" style="border: medium solid green; border-width:2px; float:left; width:15%;height:100px; margin-left:5px;padding:0;">
                    <button type="button" class="btn btn-default btn-lg" style="width:100%;height:50%;background-color:green;color:white;display:inline-block;vertical-align:middle">
                        <span class="glyphicon glyphicon-oil" aria-hidden="true"></span> XC
                    </button>

                    <label id="Label_1MVA">Bays:5<br />Active:2</label>
                </div>

                <div class="col-md-2 roundedDiv" style="border: medium solid green; border-width:2px; float:left; width:15%;height:100px; margin-left:5px;padding:0;">
                    <button type="button" class="btn btn-default btn-lg" style="width:100%;height:50%;background-color:green;color:white;display:inline-block;vertical-align:middle">
                        <span class="glyphicon glyphicon-oil" aria-hidden="true"></span> XC
                    </button>
                    <label id="Label_1MVA">Bays:5<br />Active:2</label>
                </div>




            </div>

        </div>

    </div>
</div>


