@model IEnumerable<OEEPortal_MVC5.Models.Line>
@{
    ViewBag.Title = "Manage";
}

<h2>Manage</h2>
@section menu {

    @Html.Partial("Menu");

}
@section styles{
    <link href="~/Content/bootstrap.min.css" type="text/css" rel="stylesheet" />


    <link href="~/Content/smoothness/jquery-ui.css" type="text/css" rel="stylesheet" />

    <link href="~/Content/tab.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/style.css" type="text/css" rel="stylesheet" />
}


@section scripts {
    


    <script type="text/javascript">


        $body = $("body");

        $(document).on({
            ajaxStart: function () { $body.addClass("loading"); },
            ajaxStop: function () { $body.removeClass("loading"); }
        });

    
    var LinesList;
    $(function () {
       // debugger;
        $('#tabs').tabs();

        

    });

    </script>

}

<div id="ContentDiv" class="roundedDiv text-center" style="border:green medium solid;border-width:2px;margin:20px -10px 300px 0px; padding:5px 2px 5px 2px">


    <div class="container-fluid" id="BaseContainerDiv">
        <div class="row">
            <div class="col-md-3" id="Line1Div">
                <button class="btn btn-info btn-lg btn-block">
                    Winding
                </button>
            </div>

            <div class="col-md-3" id="Line2Div">
                <button id="createbtn" class="btn btn-info btn-lg btn-block">
                    Spray
                </button>
            </div>

            <div class="col-md-3" id="Line3Div">
                <button id="createbtn" class="btn btn-info btn-lg btn-block">
                    VHT
                </button>
            </div>

            <div class="col-md-3" id="Line4Div">
                <button id="createbtn" class="btn btn-info btn-lg btn-block">
                    Support Assembly
                </button>
            </div>
          

        </div>

        <div class="row" style="padding-top:5px">
            <div class="col-md-3" id="Line5Div">
                <button id="createbtn" class="btn btn-info btn-lg btn-block">
                    Micafil
                </button>
            </div>
            <div class="col-md-3" id="Line6Div">
                <button id="createbtn" class="btn btn-info btn-lg btn-block">
                    Schugenpflug
                </button>
            </div>

            <div class="col-md-3" id="Line7Div">
                <button id="createbtn" class="btn btn-info btn-lg btn-block">
                    Soft Resin
                </button>
            </div>

            <div class="col-md-3" id="Line8Div">
                <button id="createbtn" class="btn btn-info btn-lg btn-block">
                    Box Assembly
                </button>

            </div>
        </div>

        <div class="row" style="padding-top:5px;">
          

            <div class="col-md-3" id="Line9Div">
                <button id="createbtn" class="btn btn-info btn-lg btn-block">
                    Final Assembly(Infinity)
                </button>
            </div>

            <div class="col-md-3" id="Line10Div">
                <button id="createbtn" class="btn btn-info btn-lg btn-block">
                    Final Assembly(Koti)
                </button>
            </div>
            <div class="col-md-3" id="Line11Div">
                <button id="createbtn" class="btn btn-info btn-lg btn-block">
                    MV Line
                </button>
            </div>
            <div class="col-md-3" id="Line12Div">
                
            </div>

        </div>

        <div class="row">
            <div class="innerwrap" style="margin-right:1%;padding:2% 1% 2% 1%;margin-left:-15%;">
               
                <button id="createbtn" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </button>
                <button id="deletebtn" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-minus"></span> Delete
                </button>
                <button id="editbtn" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>

                <button id="detailbtn" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-th-list"></span> Details
                </button>


            </div>
        </div>
    </div>
    @*<div id="tabs" class="tabs-min">
        <ul>
            <li><a href="#tabs-1">Line</a></li>

        </ul>

        <div id="tabs-1">
            <div class="container">
               




            </div>


        </div>




    </div>*@


</div>

<div class="modal"></div>