@model IEnumerable<OEEPortal_MVC5.Models.Line>
@{
    ViewBag.Title = "Manage";
}

<h2>Manage</h2>
@section menu {

    @Html.Partial("Menu");

}
@section styles{
    <link href="~/Content/bootstrap.min.css" type="text/css" rel="stylesheet" />


    <link href="~/Content/smoothness/jquery-ui.css" type="text/css" rel="stylesheet" />

    <link href="~/Content/tab.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/style.css" type="text/css" rel="stylesheet" />
}


@section scripts {
    


    <script type="text/javascript">
    var LinesList;
    $(function () {
       // debugger;
        $('#tabs').tabs();



        $.ajax({

            url: '/Home/GetLines',

            data: { format: JSON },
            async: true,
            error: function () { alert('GetLines Failure'); },
            success: function (lines) {

                LinesList = lines;
                var source = {

                    localdata: LinesList,
                    datatype: "json",
                    datafields: [
                        { name: "LineId" },
                        { name: "Name" }

                    ],
                    id: 'LineId'


                };
                var dataAdapter = new $.jqx.dataAdapter(source);
                // Create a jqxComboBox
                $("#LineCombobox").jqxComboBox({
                    selectedIndex: 0, source: dataAdapter,
                    displayMember: "Name", valueMember: "LineId", width: 200, height: 25
                });

                $('#createbtn').click(function () {
                    // debugger;
                   // var item = $("#LineCombobox").jqxComboBox('getSelectedItem');
                    document.location = '/Lines/Create/';

                });
                
                $('#detailbtn').click(function () {
                   // debugger;
                    var item = $("#LineCombobox").jqxComboBox('getSelectedItem');
                    document.location = '/Lines/Details/' + item.value;
                    //var id = $("LineCombobox").val();
                    //window.location.href = "/Home/EditBodyStyle/?id=" + id;
                });
                  
                $('#editbtn').click(function () {
                    // debugger;
                    var item = $("#LineCombobox").jqxComboBox('getSelectedItem');
                    document.location = '/Lines/Edit/' + item.value;
                   
                });
                $('#deletebtn').click(function () {
                    // debugger;
                    var item = $("#LineCombobox").jqxComboBox('getSelectedItem');
                    document.location = '/Lines/Delete/' + item.value;
                   
                });

            }
            
        });


    });

    </script>

}
<div class="responsive-container" id="SummaryPanel"></div>
<div id="ContentDiv" class="roundedDiv text-center" style="border:green medium solid;border-width:2px;margin:20px -10px 300px 0px; padding:5px 2px 5px 2px">

    <div id="tabs" class="tabs-min">
        <ul>
            <li><a href="#tabs-1">Line</a></li>

        </ul>

        <div id="tabs-1">
            <div class="container">
                <div class="innerwrap" style="margin-right:1%;padding:2% 1% 2% 1%;margin-left:-15%;">
                    <div id='LineCombobox' style="margin:2% 10% 1% 10%">
                    </div>
                    <button id="createbtn" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-plus"></span> Add
                    </button>
                    <button id="deletebtn" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-minus"></span> Delete
                    </button>
                    <button id="editbtn" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>

                    <button  id="detailbtn" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-th-list"></span> Details
                    </button>


                </div>




            </div>


        </div>




    </div>


</div>