﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>OEEPortal</title>



    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    @RenderSection("styles", required: false)



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="~/Images/schneider_logo.jpg" />
            </div>
            <div class="col-md-10 text-center" style="display:inline;">
                <p class="roundedDiv"
                   style="margin-right:5px;margin-left:-10px;color:white;font-family:'Arial Rounded MT';font-size:xx-large;background-color:green;border:green medium solid">
                    OEEPortal
                    <a href='@Url.Action("Index", "Home")' style="float:right;">
                        <img src="~/Images/green-home-icon.png" style="width:50px;height:40px;padding:1px 9px 3px 1px" />
                    </a> 
                </p>
             
            </div>
        </div>
        
        <div class="row" style="height:100%">
@if (IsSectionDefined("Menu"))
{
    <div class="col-md-2 text-center">
        <div class="menu1" style="align-self:center">

            @RenderSection("Menu", required: false);
        </div>
    </div>
    <div class="col-md-10">
        @RenderBody()
    </div>
}
else
{ 


                    <div class="col-md-12" style="height:100%;position:absolute;">
                        @RenderBody()
                    </div>

}



                </div>

                <footer class="footer">

                    <div class="col-md-10 text-center">
                        <p class="roundedDiv"
                           style="margin:0px 50px 0px 20px;width:100%;color:white;font-family:'Arial Rounded MT';font-size:small;background-color:green;border:green medium solid">
                            &copy; SEPFC
                        </p>
                    </div>

                </footer>
            </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @Scripts.Render("~/bundles/JQWidgets")
            @Styles.Render("~/Content/JQStyles")
   

            <script src="~/Scripts/ie10-viewport-bug-workaround.js"></script>
            <script type="text/javascript">
                $(function () {

                    $('.roundedDiv').corner('keep 10px');
                    $('#inputbtn').click(function () {
                        document.location = '@Url.Action("Create","Input")';
                    })
                    $('#reprtbtn').click(function () {
                        document.location = '@Url.Action("Report","Home")';
                    })
                    $('#grpbtn').click(function () {
                        document.location = '@Url.Action("Graphs","Home")';
                    })
                    $('#Mngbtn').click(function () {
                        document.location='@Url.Action("Manage", "Home")';
                    })
                });
            </script>

            @RenderSection("scripts", required: false)


</body>
        </html>
