<div class="wrap">
    <div class="btn-group-vertical" style="padding:3px;width:125%;margin-left:-10%">
        <button id="inputbtn" type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Input

        </button>
        <button id="reprtbtn" type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Report
        </button>
        <button id="grpbtn" type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Graphs
        </button>
        <button id="grpbtn" type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Manage
        </button>
    </div>
</div>